# Ignorer le dossier node_modules partout dans le projet
**/node_modules/

# Ignorer tous les fichiers .env partout
**/.env

# Ignorer les fichiers systèmes
.DS_Store
Thumbs.db

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de sortie (dans le frontend ou le backend)
**/dist/
**/build/

# Ignorer les fichiers de configuration IDE et extensions
.vscode/
.idea/
.qodo/

# Ignorer les fichiers temporaires
*.tmp